*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
ul{
    display: flex;
    margin: 20px;
}
li{
    list-style: none;
    margin: 15px;
   
}
li a{
    text-decoration: none;
    color: black;
}
h3{
    margin: 20px;
}
li a:hover{
    color: darkorange;
}