table{
    
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
h2{
    text-align: center;
}